<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h2><a href="https://elearning.utdallas.edu">eLearning!</a></h2>
    <h1>Algo-Bot</h1>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hey, I'm Algo-Bot. Ask me any questions about algorithms!</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg">
        <input id="buttonInput" type="submit" value="🔎">
      </div>
      <script>
        function getResponse() {
          var userMsg = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + userMsg + '</span></p>';

          $("#textInput").val("");
          $("#chatbox").append(userHtml);

          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});

          $.get("/get", { msg: userMsg }).done(function(rsp) {
            var botHtml = '<p class="botText"><span>' + rsp + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }

        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getResponse();
            }
        })

        $("#textInput").keypress(function(k) {
            if ((k.which == 13) && document.getElementById("textInput").value != "" ){
                getResponse();
            }
        });
      </script>
    </div>
  </body>
</html>
